/* ---- Alignments ---- */

  .centered{float: none; margin: auto;}

  .show{display: block;}
  .hide{display: none;}

  .inline{display: inline-block;}

  .clear-both{
    clear: both;
  }
  .bg-none{
    background-color: transparent!important;
  }
  .border-none{
    border: none;
  }

/* TEXT-ALING */
  .text-left {text-align: left;}
  .text-right {text-align: right;}
  .text-center {text-align: center;}
  .text-justify {text-align: justify;}

  .text-mayusc{ text-transform: uppercase;}
  .text-minus{ text-transform: lowercase;}
  .text-none{ text-transform: none!important; }


  .align-top    { vertical-align: top; }
  .align-bottom { vertical-align: bottom; }
  .align-middle { vertical-align: middle; }

/* TYPOGRAPHY TYLES FONTS*/
  .bold     { font-weight: bold; }
  .regular  { font-weight: normal; }
  .italic   { font-style: italic; }


/* FONT-SIZE*/

  .text-min{ font-size:10px;}
  .text-sm{ font-size:12px;}
  .text-sm-md{ font-size:13px;}
  .text-md{ font-size:14px;}
  .text-md-lg{ font-size:15px;}
  .text-lg{ font-size:16px;}
  .text-lgx{ font-size:18px;}
  .text-lgxx{ font-size:20px;}

  .fs-xs{ font-size:.50em;}
  .fs-sm{ font-size:0.75em;}
  .fs-md{ font-size:.875em;}
  .fs-lg{ font-size:1.375em;}

  .fs-1x{ font-size:1em;}
  .fs-1x-sm{ font-size:1.25em;}
  .fs-1x-md{ font-size:1.50em;}
  .fs-1x-lg{ font-size:1.75em;}
  .fs-2x{ font-size:2em;}
  .fs-2x-sm{ font-size:2.25em;}
  .fs-2x-md{ font-size:2.5em;}
  .fs-2x-lg{ font-size:2.75em;}
  .fs-3x{ font-size:3em;}
  .fs-3x-sm{ font-size:3.25em;}
  .fs-3x-md{ font-size:3.50em;}
  .fs-3x-lg{ font-size:3.75em;}
  .fs-4x{ font-size:4em;}
  .fs-4x-sm{ font-size:4.25em;}
  .fs-4x-md{ font-size:4.50em;}
  .fs-4x-lg{ font-size:4.75em;}
  .fs-5x{ font-size:5em;}
  .fs-10x{ font-size:10em;}
  .fs-15x{ font-size:15em;}
  .fs-20x{ font-size:20em;}

/*MARGIN */

  .mg-none {margin: 0;}
  .mg-none-top {margin-top: 0;}
  .mg-none-bot {margin-bottom: 0;}
  .mg-none-left {margin-left: 0;}
  .mg-none-right {margin-right: 0;}
  .mg-none-h{margin-top: 0; margin-bottom: 0;}
  .mg-none-v{margin-left: 0; margin-right: 0;}


  .mg-xs-all {margin: 5px;}
  .mg-xs-top {margin-top: 5px;}
  .mg-xs-bot {margin-bottom: 5px;}
  .mg-xs-left {margin-left: 5px;}
  .mg-xs-right {margin-right: 5px;}
  .mg-xs-h {margin: 5px 0 ;}
  .mg-xs-v {margin: 0 5px;}
  .mg-xs-tp-bt {margin-top:  5px;margin-bottom:  5px;}
  .mg-xs-lf-rg {margin-right:  5px;margin-left:  5px;}

  .mg-sm-all {margin: 10px;}
  .mg-sm-top {margin-top: 10px;}
  .mg-sm-bot {margin-bottom: 10px;}
  .mg-sm-left {margin-left: 10px;}
  .mg-sm-right {margin-right: 10px;}
  .mg-sm-h {margin: 10px 0 ;}
  .mg-sm-v {margin: 0 10px;}
  .mg-sm-tp-bt {margin-top:  10px;margin-bottom:  10px;}
  .mg-sm-lf-rg {margin-right:  10px;margin-left:  10px;}

  .mg-md-all {margin: 15px;}
  .mg-md-top {margin-top: 15px;}
  .mg-md-bot {margin-bottom: 15px;}
  .mg-md-left {margin-left: 15px;}
  .mg-md-right {margin-right: 15px;}
  .mg-md-h {margin: 15px 0 ;}
  .mg-md-v {margin: 0 15px;}
  .mg-md-tp-bt {margin-top:  15px;margin-bottom:  15px;}
  .mg-md-lf-rg {margin-right:  15px;margin-left:  15px;}

  .mg-lg-all {margin: 20px;}
  .mg-lg-top {margin-top: 20px;}
  .mg-lg-bot {margin-bottom: 20px;}
  .mg-lg-left {margin-left: 20px;}
  .mg-lg-right {margin-right: 20px;}
  .mg-lg-h {margin: 20px 0 ;}
  .mg-lg-v {margin: 0 20px;}
  .mg-lg-tp-bt {margin-top:  20px;margin-bottom:  20px;}
  .mg-lg-lf-rg {margin-right:  20px;margin-left:  20px;}

  .mg-lg-md-all {margin-top: 25px;}
  .mg-lg-md-top {margin-top: 25px;}
  .mg-lg-md-bot {margin-bottom: 25px;}
  .mg-lg-md-left {margin-left: 25px;}
  .mg-lg-md-right {margin-right: 25px;}
  .mg-lg-md-h {margin: 25px 0;}
  .mg-lg-md-v {margin: 0 25px;}
  .mg-lg-md-tp-bt {margin-top:  25px;margin-bottom:  25px;}
  .mg-lg-md-lf-rg {margin-right:  25px;margin-left:  25px;}

  .mg-lgx-all {margin-top: 30px;}
  .mg-lgx-top {margin-top: 30px;}
  .mg-lgx-bot {margin-bottom: 30px;}
  .mg-lgx-left {margin-left: 30px;}
  .mg-lgx-right {margin-right: 30px;}
  .mg-lgx-h {margin: 30px 0;}
  .mg-lgx-v {margin: 0 30px;}
  .mg-lgx-tp-bt {margin-top:  30px;margin-bottom:  30px;}
  .mg-lgx-lf-rg {margin-right:  30px;margin-left:  30px;}

  .mg-lgxx-all {margin-top: 40px;}
  .mg-lgxx-top {margin-top: 40px;}
  .mg-lgxx-bot {margin-bottom: 40px;}
  .mg-lgxx-left {margin-left: 40px;}
  .mg-lgxx-right {margin-right: 40px;}
  .mg-lgxx-h {margin: 40px 0;}
  .mg-lgxx-v {margin: 0 40px;}
  .mg-lgxx-tp-bt {margin-top:  40px;margin-bottom:  40px;}
  .mg-lgxx-lf-rg {margin-right:  40px;margin-left:  40px;}

/* PADDING*/
  .padd-none{padding: 0;}
  .padd-none-top{padding-top: 0;}
  .padd-none-bot{padding-bottom: 0;}
  .padd-none-left{padding-left: 0;}
  .padd-none-right{padding-right: 0;}
  .padd-none-h{padding-top: 0; padding-bottom: 0;}
  .padd-none-v{padding-left: 0; padding-right: 0;}

  .padd-xs-all {padding: 5px;}
  .padd-xs-top {padding-top: 5px;}
  .padd-xs-bot {padding-bottom: 5px;}
  .padd-xs-left {padding-left: 5px;}
  .padd-xs-right {padding-right: 5px;}
  .padd-xs-h {padding: 5px 0;}
  .padd-xs-v {padding: 0 5px;}
  .padd-xs-tp-bt {padding-top:  5px;padding-bottom:  5px;}
  .padd-xs-lf-rg {padding-right:  5px;padding-left:  5px;}

  .padd-sm-all {padding-top: 10px;}
  .padd-sm-top {padding-top: 10px;}
  .padd-sm-bot {padding-bottom: 10px;}
  .padd-sm-left {padding-left: 10px;}
  .padd-sm-right {padding-right: 10px;}
  .padd-sm-h {padding: 10px 0;}
  .padd-sm-v {padding: 0 10px;}
  .padd-sm-tp-bt {padding-top:  10px;padding-bottom:  10px;}
  .padd-sm-lf-rg {padding-right:  10px;padding-left:  10px;}

  .padd-md-all {padding-top: 15px;}
  .padd-md-top {padding-top: 15px;}
  .padd-md-bot {padding-bottom: 15px;}
  .padd-md-left {padding-left: 15px;}
  .padd-md-right {padding-right: 15px;}
  .padd-md-h {padding: 15px 0;}
  .padd-md-v {padding: 0 15px;}
  .padd-md-tp-bt {padding-top:  15px;padding-bottom:  15px;}
  .padd-md-lf-rg {padding-right:  15px;padding-left:  15px;}

  .padd-lg-all {padding-top: 20px;}
  .padd-lg-top {padding-top: 20px;}
  .padd-lg-bot {padding-bottom: 20px;}
  .padd-lg-left {padding-left: 20px;}
  .padd-lg-right {padding-right: 20px;}
  .padd-lg-h {padding: 20px 0;}
  .padd-lg-v {padding: 0 20px;}
  .padd-lg-tp-bt {padding-top:  20px;padding-bottom:  20px;}
  .padd-lg-lf-rg {padding-right:  20px;padding-left:  20px;}

  .padd-lg-md-all {padding-top: 25px;}
  .padd-lg-md-top {padding-top: 25px;}
  .padd-lg-md-bot {padding-bottom: 25px;}
  .padd-lg-md-left {padding-left: 25px;}
  .padd-lg-md-right {padding-right: 25px;}
  .padd-lg-md-h {padding: 25px 0;}
  .padd-lg-md-v {padding: 0 25px;}
  .padd-lg-md-tp-bt {padding-top:  25px;padding-bottom:  25px;}
  .padd-lg-md-lf-rg {padding-right:  25px;padding-left:  25px;}

  .padd-lgx-all {padding-top: 30px;}
  .padd-lgx-top {padding-top: 30px;}
  .padd-lgx-bot {padding-bottom: 30px;}
  .padd-lgx-left {padding-left: 30px;}
  .padd-lgx-right {padding-right: 30px;}
  .padd-lgx-h {padding: 30px 0;}
  .padd-lgx-v {padding: 0 30px;}
  .padd-lgx-tp-bt {padding-top:  30px;padding-bottom:  30px;}
  .padd-lgx-lf-rg {padding-right:  30px;padding-left:  30px;}

  .padd-lgxx-all {padding-top: 40px;}
  .padd-lgxx-top {padding-top: 40px;}
  .padd-lgxx-bot {padding-bottom: 40px;}
  .padd-lgxx-left {padding-left: 40px;}
  .padd-lgxx-right {padding-right: 40px;}
  .padd-lgxx-h {padding: 40px 0;}
  .padd-lgxx-v {padding: 0 40px;}
  .padd-lgxx-tp-bt {padding-top:  40px;padding-bottom:  40px;}
  .padd-lgxx-lf-rg {padding-right:  40px;padding-left:  40px;}

/* RADIOS */
  .radius-no{
    border-radius: 0;
  }

/*EXTRAS*/
  .divider {
      height: 1px;
      margin: 9px 0;
      overflow: hidden;
      background-color: #e5e5e5;
  }
  .title-divider   {
      color: #0DB7EF!important;
      font-size: 16px ;
  }

  .form-horizontal .input-inline .form-group {
      margin-right: -10px;
      margin-left: -10px;
  }

/* HR */

  hr {
    display: block;
    border-top: 1px solid #ddd;
    margin: 25px 0;
  }
  hr.color {
    border-color: #4d7db3 !important;
  }
  hr.dotted {
    border-style: dotted !important;
  }
  hr.dashed {
    border-style: dashed !important;
  }
  hr.double {
    height: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
  }

/*BORDER */

  .bd-t{
    border-top: solid 1px #29d7d5;
  }
  .bd-r{
    border-right: solid 1px #29d7d5;
  }
  .bd-b{
    border-bottom: solid 1px #29d7d5;
  }
  .bd-l{
    border-left: solid 1px #29d7d5;
  }

  .bd-dotted {
    border-style: dotted !important;
  }
  .bd-dashed {
    border-style: dashed !important;
  }
  .bd-double {
    height: 5px;
    border-bottom-width: 1px;
    border-bottom-color: #ddd;
    border-bottom-style: solid;
  }

/*Width and Height */
  .fit         { max-width: 100%; }
  .half-width  { width: 50% }
  .full-width  { width: 100%; }
  .full-height { height: 100%; }

