/*@padding-base-vertical:     8px;
@padding-base-horizontal:   14px;

@padding-large-vertical:    18px;
@padding-large-horizontal:  27px;

@padding-small-vertical:    6px;
@padding-small-horizontal:  9px;*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,400italic");
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
.navbar-teal {
  background-color: #009688;
  border-color: transparent;
}
.navbar-teal .navbar-brand {
  color: #fff;
}
.navbar-teal .navbar-brand:hover,
.navbar-teal .navbar-brand:focus {
  color: #2C3E50;
  background-color: transparent;
}
.navbar-teal .navbar-text {
  color: #fff;
}
.navbar-teal .navbar-nav > li > a {
  color: #fff;
}
.navbar-teal .navbar-nav > li > a:hover,
.navbar-teal .navbar-nav > li > a:focus {
  color: #2C3E50;
  background-color: transparent;
}
.navbar-teal .navbar-nav > .active > a,
.navbar-teal .navbar-nav > .active > a:hover,
.navbar-teal .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #007d71;
}
.navbar-teal .navbar-nav > .disabled > a,
.navbar-teal .navbar-nav > .disabled > a:hover,
.navbar-teal .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-teal .navbar-toggle {
  border-color: #00635a;
}
.navbar-teal .navbar-toggle:hover,
.navbar-teal .navbar-toggle:focus {
  background-color: #00635a;
}
.navbar-teal .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-teal .navbar-collapse,
.navbar-teal .navbar-form {
  border-color: #007268;
}
.navbar-teal .navbar-nav > .open > a,
.navbar-teal .navbar-nav > .open > a:hover,
.navbar-teal .navbar-nav > .open > a:focus {
  background-color: #007d71;
  color: #fff;
}
.navbar-teal .navbar-nav .open .dropdown-menu > .dropdown-header {
  border-color: #009688;
}
.navbar-teal .navbar-nav .open .dropdown-menu .divider {
  background-color: #009688;
}
.navbar-teal .navbar-nav .open .dropdown-menu > li > a {
  color: #2C3E50;
}
.navbar-teal .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-teal .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #009688;
}
.navbar-teal .navbar-nav .open .dropdown-menu > .active > a,
.navbar-teal .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-teal .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #009688;
}
.navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-teal .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-teal .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-teal .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-teal .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-teal .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2C3E50;
    background-color: transparent;
  }
  .navbar-teal .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-teal .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-teal .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #007d71;
  }
  .navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-teal .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-teal .navbar-link {
  color: #fff;
}
.navbar-teal .navbar-link:hover {
  color: #2C3E50;
}
.navbar-teal .btn-link {
  color: #fff;
}
.navbar-teal .btn-link:hover,
.navbar-teal .btn-link:focus {
  color: #2C3E50;
}
.navbar-teal .btn-link[disabled]:hover,
fieldset[disabled] .navbar-teal .btn-link:hover,
.navbar-teal .btn-link[disabled]:focus,
fieldset[disabled] .navbar-teal .btn-link:focus {
  color: #ccc;
}
.navbar-orange {
  background-color: #FF9800;
  border-color: transparent;
}
.navbar-orange .navbar-brand {
  color: #fff;
}
.navbar-orange .navbar-brand:hover,
.navbar-orange .navbar-brand:focus {
  color: #2C3E50;
  background-color: transparent;
}
.navbar-orange .navbar-text {
  color: #fff;
}
.navbar-orange .navbar-nav > li > a {
  color: #fff;
}
.navbar-orange .navbar-nav > li > a:hover,
.navbar-orange .navbar-nav > li > a:focus {
  color: #2C3E50;
  background-color: transparent;
}
.navbar-orange .navbar-nav > .active > a,
.navbar-orange .navbar-nav > .active > a:hover,
.navbar-orange .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #e68900;
}
.navbar-orange .navbar-nav > .disabled > a,
.navbar-orange .navbar-nav > .disabled > a:hover,
.navbar-orange .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-orange .navbar-toggle {
  border-color: #cc7a00;
}
.navbar-orange .navbar-toggle:hover,
.navbar-orange .navbar-toggle:focus {
  background-color: #cc7a00;
}
.navbar-orange .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-orange .navbar-collapse,
.navbar-orange .navbar-form {
  border-color: #db8300;
}
.navbar-orange .navbar-nav > .open > a,
.navbar-orange .navbar-nav > .open > a:hover,
.navbar-orange .navbar-nav > .open > a:focus {
  background-color: #e68900;
  color: #fff;
}
.navbar-orange .navbar-nav .open .dropdown-menu > .dropdown-header {
  border-color: #FF9800;
}
.navbar-orange .navbar-nav .open .dropdown-menu .divider {
  background-color: #FF9800;
}
.navbar-orange .navbar-nav .open .dropdown-menu > li > a {
  color: #2C3E50;
}
.navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #FF9800;
}
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff;
  background-color: #FF9800;
}
.navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
@media (max-width: 767px) {
  .navbar-orange .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: transparent;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu .divider {
    background-color: transparent;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2C3E50;
    background-color: transparent;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #e68900;
  }
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-orange .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-orange .navbar-link {
  color: #fff;
}
.navbar-orange .navbar-link:hover {
  color: #2C3E50;
}
.navbar-orange .btn-link {
  color: #fff;
}
.navbar-orange .btn-link:hover,
.navbar-orange .btn-link:focus {
  color: #2C3E50;
}
.navbar-orange .btn-link[disabled]:hover,
fieldset[disabled] .navbar-orange .btn-link:hover,
.navbar-orange .btn-link[disabled]:focus,
fieldset[disabled] .navbar-orange .btn-link:focus {
  color: #ccc;
}
.btn-theme .btn-default {
  color: #fff;
  background-color: #95a5a6;
  border-color: #95a5a6;
}
.btn-theme .btn-default:focus,
.btn-theme .btn-default.focus {
  color: #fff;
  background-color: #798d8f;
  border-color: #566566;
}
.btn-theme .btn-default:hover {
  color: #fff;
  background-color: #798d8f;
  border-color: #74898a;
}
.btn-theme .btn-default:active,
.btn-theme .btn-default.active,
.open > .dropdown-toggle.btn-theme .btn-default {
  color: #fff;
  background-color: #798d8f;
  border-color: #74898a;
}
.btn-theme .btn-default:active:hover,
.btn-theme .btn-default.active:hover,
.open > .dropdown-toggle.btn-theme .btn-default:hover,
.btn-theme .btn-default:active:focus,
.btn-theme .btn-default.active:focus,
.open > .dropdown-toggle.btn-theme .btn-default:focus,
.btn-theme .btn-default:active.focus,
.btn-theme .btn-default.active.focus,
.open > .dropdown-toggle.btn-theme .btn-default.focus {
  color: #fff;
  background-color: #687b7c;
  border-color: #566566;
}
.btn-theme .btn-default:active,
.btn-theme .btn-default.active,
.open > .dropdown-toggle.btn-theme .btn-default {
  background-image: none;
}
.btn-theme .btn-default.disabled:hover,
.btn-theme .btn-default[disabled]:hover,
fieldset[disabled] .btn-theme .btn-default:hover,
.btn-theme .btn-default.disabled:focus,
.btn-theme .btn-default[disabled]:focus,
fieldset[disabled] .btn-theme .btn-default:focus,
.btn-theme .btn-default.disabled.focus,
.btn-theme .btn-default[disabled].focus,
fieldset[disabled] .btn-theme .btn-default.focus {
  background-color: #95a5a6;
  border-color: #95a5a6;
}
.btn-theme .btn-default .badge {
  color: #95a5a6;
  background-color: #fff;
}
.btn-theme .btn-primary {
  color: #fff;
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-theme .btn-primary:focus,
.btn-theme .btn-primary.focus {
  color: #fff;
  background-color: #1a242f;
  border-color: #000000;
}
.btn-theme .btn-primary:hover {
  color: #fff;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-theme .btn-primary:active,
.btn-theme .btn-primary.active,
.open > .dropdown-toggle.btn-theme .btn-primary {
  color: #fff;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-theme .btn-primary:active:hover,
.btn-theme .btn-primary.active:hover,
.open > .dropdown-toggle.btn-theme .btn-primary:hover,
.btn-theme .btn-primary:active:focus,
.btn-theme .btn-primary.active:focus,
.open > .dropdown-toggle.btn-theme .btn-primary:focus,
.btn-theme .btn-primary:active.focus,
.btn-theme .btn-primary.active.focus,
.open > .dropdown-toggle.btn-theme .btn-primary.focus {
  color: #fff;
  background-color: #0d1318;
  border-color: #000000;
}
.btn-theme .btn-primary:active,
.btn-theme .btn-primary.active,
.open > .dropdown-toggle.btn-theme .btn-primary {
  background-image: none;
}
.btn-theme .btn-primary.disabled:hover,
.btn-theme .btn-primary[disabled]:hover,
fieldset[disabled] .btn-theme .btn-primary:hover,
.btn-theme .btn-primary.disabled:focus,
.btn-theme .btn-primary[disabled]:focus,
fieldset[disabled] .btn-theme .btn-primary:focus,
.btn-theme .btn-primary.disabled.focus,
.btn-theme .btn-primary[disabled].focus,
fieldset[disabled] .btn-theme .btn-primary.focus {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-theme .btn-primary .badge {
  color: #2C3E50;
  background-color: #fff;
}
.btn-theme .btn-success {
  color: #fff;
  background-color: #009688;
  border-color: #009688;
}
.btn-theme .btn-success:focus,
.btn-theme .btn-success.focus {
  color: #fff;
  background-color: #00635a;
  border-color: #001714;
}
.btn-theme .btn-success:hover {
  color: #fff;
  background-color: #00635a;
  border-color: #005951;
}
.btn-theme .btn-success:active,
.btn-theme .btn-success.active,
.open > .dropdown-toggle.btn-theme .btn-success {
  color: #fff;
  background-color: #00635a;
  border-color: #005951;
}
.btn-theme .btn-success:active:hover,
.btn-theme .btn-success.active:hover,
.open > .dropdown-toggle.btn-theme .btn-success:hover,
.btn-theme .btn-success:active:focus,
.btn-theme .btn-success.active:focus,
.open > .dropdown-toggle.btn-theme .btn-success:focus,
.btn-theme .btn-success:active.focus,
.btn-theme .btn-success.active.focus,
.open > .dropdown-toggle.btn-theme .btn-success.focus {
  color: #fff;
  background-color: #003f39;
  border-color: #001714;
}
.btn-theme .btn-success:active,
.btn-theme .btn-success.active,
.open > .dropdown-toggle.btn-theme .btn-success {
  background-image: none;
}
.btn-theme .btn-success.disabled:hover,
.btn-theme .btn-success[disabled]:hover,
fieldset[disabled] .btn-theme .btn-success:hover,
.btn-theme .btn-success.disabled:focus,
.btn-theme .btn-success[disabled]:focus,
fieldset[disabled] .btn-theme .btn-success:focus,
.btn-theme .btn-success.disabled.focus,
.btn-theme .btn-success[disabled].focus,
fieldset[disabled] .btn-theme .btn-success.focus {
  background-color: #009688;
  border-color: #009688;
}
.btn-theme .btn-success .badge {
  color: #009688;
  background-color: #fff;
}
.btn-theme .btn-info {
  color: #fff;
  background-color: #3498DB;
  border-color: #3498DB;
}
.btn-theme .btn-info:focus,
.btn-theme .btn-info.focus {
  color: #fff;
  background-color: #217dbb;
  border-color: #16527a;
}
.btn-theme .btn-info:hover {
  color: #fff;
  background-color: #217dbb;
  border-color: #2077b2;
}
.btn-theme .btn-info:active,
.btn-theme .btn-info.active,
.open > .dropdown-toggle.btn-theme .btn-info {
  color: #fff;
  background-color: #217dbb;
  border-color: #2077b2;
}
.btn-theme .btn-info:active:hover,
.btn-theme .btn-info.active:hover,
.open > .dropdown-toggle.btn-theme .btn-info:hover,
.btn-theme .btn-info:active:focus,
.btn-theme .btn-info.active:focus,
.open > .dropdown-toggle.btn-theme .btn-info:focus,
.btn-theme .btn-info:active.focus,
.btn-theme .btn-info.active.focus,
.open > .dropdown-toggle.btn-theme .btn-info.focus {
  color: #fff;
  background-color: #1c699d;
  border-color: #16527a;
}
.btn-theme .btn-info:active,
.btn-theme .btn-info.active,
.open > .dropdown-toggle.btn-theme .btn-info {
  background-image: none;
}
.btn-theme .btn-info.disabled:hover,
.btn-theme .btn-info[disabled]:hover,
fieldset[disabled] .btn-theme .btn-info:hover,
.btn-theme .btn-info.disabled:focus,
.btn-theme .btn-info[disabled]:focus,
fieldset[disabled] .btn-theme .btn-info:focus,
.btn-theme .btn-info.disabled.focus,
.btn-theme .btn-info[disabled].focus,
fieldset[disabled] .btn-theme .btn-info.focus {
  background-color: #3498DB;
  border-color: #3498DB;
}
.btn-theme .btn-info .badge {
  color: #3498DB;
  background-color: #fff;
}
.btn-theme .btn-warning {
  color: #fff;
  background-color: #F39C12;
  border-color: #F39C12;
}
.btn-theme .btn-warning:focus,
.btn-theme .btn-warning.focus {
  color: #fff;
  background-color: #c87f0a;
  border-color: #7f5006;
}
.btn-theme .btn-warning:hover {
  color: #fff;
  background-color: #c87f0a;
  border-color: #be780a;
}
.btn-theme .btn-warning:active,
.btn-theme .btn-warning.active,
.open > .dropdown-toggle.btn-theme .btn-warning {
  color: #fff;
  background-color: #c87f0a;
  border-color: #be780a;
}
.btn-theme .btn-warning:active:hover,
.btn-theme .btn-warning.active:hover,
.open > .dropdown-toggle.btn-theme .btn-warning:hover,
.btn-theme .btn-warning:active:focus,
.btn-theme .btn-warning.active:focus,
.open > .dropdown-toggle.btn-theme .btn-warning:focus,
.btn-theme .btn-warning:active.focus,
.btn-theme .btn-warning.active.focus,
.open > .dropdown-toggle.btn-theme .btn-warning.focus {
  color: #fff;
  background-color: #a66908;
  border-color: #7f5006;
}
.btn-theme .btn-warning:active,
.btn-theme .btn-warning.active,
.open > .dropdown-toggle.btn-theme .btn-warning {
  background-image: none;
}
.btn-theme .btn-warning.disabled:hover,
.btn-theme .btn-warning[disabled]:hover,
fieldset[disabled] .btn-theme .btn-warning:hover,
.btn-theme .btn-warning.disabled:focus,
.btn-theme .btn-warning[disabled]:focus,
fieldset[disabled] .btn-theme .btn-warning:focus,
.btn-theme .btn-warning.disabled.focus,
.btn-theme .btn-warning[disabled].focus,
fieldset[disabled] .btn-theme .btn-warning.focus {
  background-color: #F39C12;
  border-color: #F39C12;
}
.btn-theme .btn-warning .badge {
  color: #F39C12;
  background-color: #fff;
}
.btn-theme .btn-danger {
  color: #fff;
  background-color: #E74C3C;
  border-color: #E74C3C;
}
.btn-theme .btn-danger:focus,
.btn-theme .btn-danger.focus {
  color: #fff;
  background-color: #d62c1a;
  border-color: #921e12;
}
.btn-theme .btn-danger:hover {
  color: #fff;
  background-color: #d62c1a;
  border-color: #cd2a19;
}
.btn-theme .btn-danger:active,
.btn-theme .btn-danger.active,
.open > .dropdown-toggle.btn-theme .btn-danger {
  color: #fff;
  background-color: #d62c1a;
  border-color: #cd2a19;
}
.btn-theme .btn-danger:active:hover,
.btn-theme .btn-danger.active:hover,
.open > .dropdown-toggle.btn-theme .btn-danger:hover,
.btn-theme .btn-danger:active:focus,
.btn-theme .btn-danger.active:focus,
.open > .dropdown-toggle.btn-theme .btn-danger:focus,
.btn-theme .btn-danger:active.focus,
.btn-theme .btn-danger.active.focus,
.open > .dropdown-toggle.btn-theme .btn-danger.focus {
  color: #fff;
  background-color: #b62516;
  border-color: #921e12;
}
.btn-theme .btn-danger:active,
.btn-theme .btn-danger.active,
.open > .dropdown-toggle.btn-theme .btn-danger {
  background-image: none;
}
.btn-theme .btn-danger.disabled:hover,
.btn-theme .btn-danger[disabled]:hover,
fieldset[disabled] .btn-theme .btn-danger:hover,
.btn-theme .btn-danger.disabled:focus,
.btn-theme .btn-danger[disabled]:focus,
fieldset[disabled] .btn-theme .btn-danger:focus,
.btn-theme .btn-danger.disabled.focus,
.btn-theme .btn-danger[disabled].focus,
fieldset[disabled] .btn-theme .btn-danger.focus {
  background-color: #E74C3C;
  border-color: #E74C3C;
}
.btn-theme .btn-danger .badge {
  color: #E74C3C;
  background-color: #fff;
}
.navbar {
  border-width: 0;
}
.navbar-default .badge {
  background-color: #fff;
  color: #2C3E50;
}
.navbar-inverse .badge {
  background-color: #fff;
  color: #009688;
}
.navbar-brand {
  line-height: 1;
}
.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.text-primary,
.text-primary:hover {
  color: #2C3E50;
}
.text-success,
.text-success:hover {
  color: #009688;
}
.text-danger,
.text-danger:hover {
  color: #E74C3C;
}
.text-warning,
.text-warning:hover {
  color: #F39C12;
}
.text-info,
.text-info:hover {
  color: #3498DB;
}
table a:not(.btn),
.table a:not(.btn) {
  text-decoration: underline;
}
table .dropdown-menu a,
.table .dropdown-menu a {
  text-decoration: none;
}
table .success,
.table .success,
table .warning,
.table .warning,
table .danger,
.table .danger,
table .info,
.table .info {
  color: #fff;
}
table .success > th > a,
.table .success > th > a,
table .warning > th > a,
.table .warning > th > a,
table .danger > th > a,
.table .danger > th > a,
table .info > th > a,
.table .info > th > a,
table .success > td > a,
.table .success > td > a,
table .warning > td > a,
.table .warning > td > a,
table .danger > td > a,
.table .danger > td > a,
table .info > td > a,
.table .info > td > a,
table .success > a,
.table .success > a,
table .warning > a,
.table .warning > a,
table .danger > a,
.table .danger > a,
table .info > a,
.table .info > a {
  color: #fff;
}
table > thead > tr > th,
.table > thead > tr > th,
table > tbody > tr > th,
.table > tbody > tr > th,
table > tfoot > tr > th,
.table > tfoot > tr > th,
table > thead > tr > td,
.table > thead > tr > td,
table > tbody > tr > td,
.table > tbody > tr > td,
table > tfoot > tr > td,
.table > tfoot > tr > td {
  border: none;
}
table-bordered > thead > tr > th,
.table-bordered > thead > tr > th,
table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > th,
table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > th,
table-bordered > thead > tr > td,
.table-bordered > thead > tr > td,
table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > td,
table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ecf0f1;
}
.form-control,
input {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus,
input:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label,
.has-warning .form-control-feedback {
  color: #F39C12;
}
.has-warning .form-control,
.has-warning .form-control:focus {
  border: 1px solid #F39C12;
}
.has-warning .input-group-addon {
  border-color: #F39C12;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label,
.has-error .form-control-feedback {
  color: #E74C3C;
}
.has-error .form-control,
.has-error .form-control:focus {
  border: 1px solid #E74C3C;
}
.has-error .input-group-addon {
  border-color: #E74C3C;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label,
.has-success .form-control-feedback {
  color: #009688;
}
.has-success .form-control,
.has-success .form-control:focus {
  border: 1px solid #009688;
}
.has-success .input-group-addon {
  border-color: #009688;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: transparent;
}
.pager a,
.pager a:hover {
  color: #fff;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #00e3cd;
}
.close {
  color: #fff;
  text-decoration: none;
  opacity: 0.4;
}
.close:hover,
.close:focus {
  color: #fff;
  opacity: 1;
}
.alert .alert-link {
  color: #fff;
  text-decoration: underline;
}
.progress {
  height: 10px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  font-size: 10px;
  line-height: 10px;
}
.well {
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  border-color: #ecf0f1;
}
a.list-group-item-success.active {
  background-color: #009688;
}
a.list-group-item-success.active:hover,
a.list-group-item-success.active:focus {
  background-color: #007d71;
}
a.list-group-item-warning.active {
  background-color: #F39C12;
}
a.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus {
  background-color: #e08e0b;
}
a.list-group-item-danger.active {
  background-color: #E74C3C;
}
a.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus {
  background-color: #e43725;
}
.panel-default .close {
  color: #2C3E50;
}
.modal .close {
  color: #2C3E50;
}
.popover {
  color: #2C3E50;
}
