// ============ ====
@paleta-amber : #FFC107 ;


//=== Orange navbar
// Reset inverted navbar basics
@navbar-orange-color:                      #fff;
@navbar-orange-bg:                         @paleta-amber;
@navbar-orange-border:                     transparent;

// Orange navbar links
@navbar-orange-link-color:                 #fff;
@navbar-orange-link-hover-color:           @brand-primary;
@navbar-orange-link-hover-bg:              transparent;
@navbar-orange-link-active-color:          #fff;
@navbar-orange-link-active-bg:             darken(@navbar-orange-bg, 5%);
@navbar-orange-link-disabled-color:        #ccc;
@navbar-orange-link-disabled-bg:           transparent;

// Orange navbar brand label
@navbar-orange-brand-color:                @navbar-orange-link-color;
@navbar-orange-brand-hover-color:          @navbar-orange-link-hover-color;
@navbar-orange-brand-hover-bg:             transparent;

// Orange navbar toggle
@navbar-orange-toggle-hover-bg:            darken(@navbar-orange-bg, 10%);
@navbar-orange-toggle-icon-bar-bg:         #fff;
@navbar-orange-toggle-border-color:        darken(@navbar-orange-bg, 10%);

